@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Poppins', sans-serif;

}

body {
    margin: 0;
}

:root {
    --color-on-primary: #3a3a3a;
    --color-on-primary-2: #555555;
    --poppins: 'Poppins', sans-serif;
}

/* Sayam */
.landing {
    background: rgb(91, 46, 208);
    background: linear-gradient(90deg, rgba(91, 46, 208, 1) 35%, rgba(152, 53, 225, 1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.main_nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.menu button {
    border: #3a3a3a 1px;
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-on-primary);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.menu ul li {
    margin: 0 1rem;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.menu button {
    border: #3a3a3a 1px;
    margin-left: 2rem;
    font-size: 16px;
    font-family: var(--poppins);
    font-weight: 400;
    color: var(--color-on-primary);
    padding: 10px 20px;
    border-radius: 5px;
    border-radius: 23px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu button:hover {
    background-color: #3a3a3a;
    color: white;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.mainContent h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 24px;
    font-weight: 600;
    text-align: center;
}

.mainContent p {
    font-size: 16px;
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 24px;
}

.mainContent button {
    background-color: #ffe100;
    color: #3a3a3a;
    font-size: 16px;
    font: 1em var(--poppins);
    font-weight: 500;
    padding: 10px 20px;
    justify-self: center;
    border-radius: 23px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.flex-container button:hover {
    background-color: #ffc300;
    color: #000;
}

.mainContent button img {
    width: 20px;
    height: 20px;
    align-items: center;
    top: 23px;
}

.content {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 23px;
    padding-top: 5em;
    padding-bottom: 10em;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.mainContent button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent button span {
    margin-left: 12px;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92.5%;
}

p {
    font-size: 16px;
}

/* Nitish */
.info-container {
    padding-top: 5em;
    padding-bottom: 10em;
    /* border-bottom: 1px solid rgb(207, 207, 207); */
}

.info-container h2 {
    font-size: 28px;
    color: var(--color-on-primary);
    margin-bottom: 24px;
    font-weight: 600;
    text-align: center;
}

.info-container>p {
    text-align: center;
    max-width: 700px;
    margin: auto;
    color: var(--color-on-primary-2);

}

.info-container .flex-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;

}

.info-container .left {
    flex: 25%;
}

.info-container .center {
    flex: 50%;
}

.info-container img {
    width: 100%;
    height: auto;
}

.info-container .right {
    flex: 25%;
}


.info-container .left div:first-child,
.info-container .right div:first-child {
    margin-bottom: 50px;
}

.info-container>div h3 {
    color: var(--color-on-primary);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.info-container>div p {
    text-align: left;
    line-height: 1.5;
    color: var(--color-on-primary-2);
}

/* Aditya */
h2 span {
    color: rgba(30, 32, 32, 0.507);

}

.sponsor-container {
    background-color: transparent;

}

.sponsor-container h2 {
    text-align: center;
    margin-top: 160px;
}



/* .sponsor-container.first{
    width: 18%;
    height: auto;
    padding-left: 80px;
    display: inline;
} */
.sponsor-container img {
    margin: 23px;
    margin-top: 50px;

}

.sponsor-container h1 {
    text-align: center;
    font-size: 33px;
    margin-top: 55px;

}

.reviews {
    display: flex;
    gap: 26px;
    margin-top: 45px;

}

.sponsor-container .left {
    flex: 20%;
    text-align: center;

}

.sponsor-container .center {
    flex: 20%;
    text-align: center;
}

.sponsor-container .right {
    flex: 60%;
    display: flex;
    align-items: center;


}

.sponsor-container .reviews>div {
    border: 1px solid rgb(234, 226, 226);
    padding: 11px 40px;
    border-radius: 10px;


}

.sponsor-container .left img {
    width: auto;
    height: 35px;
    margin: 20px;

}

.sponsor-container .right img {
    width: auto;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rebeccapurple;
    margin: 0%;


}

.sponsor-container .center img {
    width: auto;
    height: 35px;
    margin: 20px;

}

.sponsor-container .main-cont {
    max-width: 100%;
    margin: auto;
}

.sponsor-container .logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.reviews .right-text-gyan {
    padding-left: 39px;
    font-size: 20px;
}

.star-container .star {
    color: rgb(196, 177, 65);
    /* Sets the color of the star */
    font-size: 26px;
    /* Sets the size of the star */
}


.partner{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fcfcfc;
}

.partner .fav-tools {
    max-width: 1280px;
    margin: 60px auto;
    text-align: center
}

.partner .proof {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.partner .left img {
    width: 100%;
    height: auto;
}

.partner .right{
    text-align: left;
}
.partner .right img {
    padding: 15px;
    width: 80px;
    height: auto;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}



/* bluebox ka chalu ho gya */

.fullbox {
    width: 100%;
    background-color: #5c2ede;
    overflow: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.box-material {
    max-width: 1280px;
    margin: 100px auto;
    margin-bottom: 150px;
    color: #fff;
}

svg{
    fill: #fff;
}

.fullbox h1 {
    text-align: center;
    margin-top: 100px !important;
}

.fullbox p {
    color: #fff;
}


.fullbox .top{
    text-align: center;
}





/* .fullbox h3{
    
} */

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.jquery-text {
    flex-basis: 30%;
}





/* 
.jquery-text{
    flex-basis: 30%;
} */

/* Anubhav Pathak */

.detail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: auto;
    max-width: 1280px;
    margin-top: 69px;

}

.detail-container h4 {
    margin-top: 20px;
}

.detail-container p {
    margin-top: 15px;
}


/* aaditya task */

.performance-container{
    position: relative;

}


.performance-container>div{
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 30px;
    position: absolute;
    top: -63px;
    left: 50%;
    translate: -50%;
    

}

.performance-container .card{
    width: 275px;
    height: 190px;
    border-radius: 20px;
    border: .5px  grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    transition: box-shadow .3s;
    background-color: #fcfcfc;
    padding: 10px;

}

.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.performance-container h1{
   
    padding-top: 20px;
}


/* library task :start */

.library-text{
    display: block;
    justify-content: center;
}


.library-text h1{
   padding-top: 284px;
   text-align: center;
   font-size:xx-large;
   
}

.library-text p{
  
    width: 780px;
    text-align: center;
}

.library-text button{
    width: 240px;
    height: 60px;
    border-radius: 35px;
    background-color: #ffc300;
   font-size: large;
}